
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container">
            <h1>Bənzər şəkillərin axtarışı</h1>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %} 
                <input type="file" name="query">
                <input type="submit">
            </form>
            <h2>Sorğu:</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2>Nəticə:</h2>
            {% for score in scores %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="{{ score.1 }}" height="200px">
                <br>
            </figure>
            {% endfor %}
        </div>
    </body>
</html>


